h1{
text-align:center;


}



.disasters{
 display: block;
padding: 40px

}


.jo {

padding-left:40px;

padding-right: 40px;

}

.job {

padding-left:  40px;

padding-right: 40px;
}

.kakashi {

padding-left:  40px;

padding-right: 40px;

}

.rin {

  padding-left:  40px;

padding-right: 40px;

}

.kill {

padding-left: 40px;

padding-right: 40px;

}

.life {

  padding-left: 40px;

  padding-right: 40px;

}


.images {
padding-left: 40px;
padding-right: 40px;
padding-top: 20px;
padding-bottom: 20px;

}
